.article-link--card {
  display: flex;
  flex-direction: row;
}

.article-link--card .thumbnail_card {
  width: 320px;
  min-width: 320px;
  height: 200px;
}

.article-link--card .p-4 {
  flex: 1;
}

@media (max-width: 768px) {
  .article-link--card {
    flex-direction: column;
  }

  .article-link--card .thumbnail_card {
    width: 100%;
    min-width: 100%;
    height: 200px;
  }
}
